Package: example7
Version: 0.0.1
Architecture: armel
Maintainer: unknown <>
Installed-Size: 1033
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
